@import "tailwindcss";

@theme inline {
  --color-lumi-violet: #5722CF;
  --color-lumi-yellow: #ebf067;
  --color-lumi-pink: #f877af;
  --color-lumi-red: #fd3630;
  --color-lumi-black: #020201;
  --color-lumi-darkbg: #0d0d1a;
  --color-lumi-darkcard: #151525;
  --color-lumi-darkborder: #22223a;
}
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #020201;
}

.dark {
  --background: #0d0d1a; /* lumi-darkbg */
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.bg-lumi-gradient {
  background: linear-gradient(to right, #a949f2, #ff5555, #fe8570);
}

.text-lumi-gradient {
  background: linear-gradient(to right, #a949f2, #ff5555, #fe8570);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
